
body{
    background-color:rgb(207, 191, 138) ;
}
#container {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
        gap:20px;
    }
/*CABECERA*/
th{
    border: solid 1px black;
    background-color: grey;
    color: white;
    text-align: center;
}
.gridjs-td{
    border: solid 1px black;
    background-color: rgb(215, 208, 208);
    text-align: center;
    margin-left: 5%;
}

#wrapper{
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 80%;
}

.gridjs-footer{
    border: solid 1px black;
    width: 100%;
    background-color: grey;
    color: white;
}
